<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form action="/poruka" method="post">
      <input type="text" size="25" value="" name="ime">
      <input type="text" size="25" value="" name="poruka">
      <input type="submit" value="Submit">
    </form>
  <p><%- poruke%></p>

  </body>
</html>
